@use '../../../styles/variables' as *;

.page {
  max-width: $max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-md;
  padding: $spacing-lg $spacing-md $spacing-xl;

  @media (min-width: $bp-lg) {
    grid-template-columns: 1fr 240px;
    gap: $spacing-md;
  }
}

.content {
  min-width: 0;
}

.sidebar {
  display: none;
  @media (min-width: $bp-lg) { display: block; }
}
